################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TodoList/obj/project.assets.json
/TodoList/obj/project.nuget.cache
/TodoList/obj/TodoList.csproj.nuget.dgspec.json
/TodoList/obj/TodoList.csproj.nuget.g.props
/TodoList/obj/Debug/net6.0/TodoList.AssemblyInfo.cs
/TodoList/obj/Debug/net6.0/TodoList.AssemblyInfoInputs.cache
/TodoList/obj/Debug/net6.0/TodoList.assets.cache
/TodoList/obj/Debug/net6.0/TodoList.GeneratedMSBuildEditorConfig.editorconfig
/TodoList/bin/Debug/net6.0
/TodoList/obj/Debug/net6.0/refint
/TodoList/obj/Debug/net6.0/apphost.exe
/TodoList/obj/Debug/net6.0/TodoList.csproj.BuildWithSkipAnalyzers
/TodoList/obj/Debug/net6.0/TodoList.csproj.CoreCompileInputs.cache
/TodoList/obj/Debug/net6.0/TodoList.csproj.FileListAbsolute.txt
/TodoList/obj/Debug/net6.0/TodoList.dll
/TodoList/obj/Debug/net6.0/TodoList.genruntimeconfig.cache
/TodoList/obj/Debug/net6.0/TodoList.pdb
/TodoList/obj/Debug/net6.0/ref/TodoList.dll
/TodoList/.vs/TodoList/v17/.suo
/TodoList/.vs/TodoList/FileContentIndex/fda85ef9-86ff-4a87-8556-eae024a97c22.vsidx
/TodoList/.vs/TodoList/FileContentIndex/c7867d36-3a18-48a9-a4b2-b9dcd40a27ce.vsidx
TodoList/.vs/ProjectEvaluation/todolist.projects.v7.bin
TodoList/.vs/ProjectEvaluation/todolist.metadata.v7.bin
TodoList/.vs/TodoList/v17/.futdcache.v2
TodoList/.vs/TodoList/DesignTimeBuild/.dtbcache.v2
